<div *ngIf="obuka" class="container mt-5 mb-5 pt-5" style="min-height: 100vh;">
  <div class="row mt-5 pt-5">
    <ol class="breadcrumb hidden-xs-down mb-5 ml-2">
      <li class="breadcrumb-item"><a routerLink="">Početna</a></li>
      <li class="breadcrumb-item"><a routerLink="/kursevi">Kursevi i obuke</a></li>
      <li class="breadcrumb-item">{{obuka.naziv}}</li>
    </ol>
    <div class="col-lg-8 col-md-8 col-sm-12">
      <article>
        <!-- Post header-->
        <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1">{{obuka.naziv}}</h1>
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2">Početak {{obuka.datumPocetka | date}} , {{obuka.objavio}}</div>
            <!-- Post categories-->
            <a class="badge bg-secondary text-decoration-none link-light" href="javascript:void(0)">{{obuka.kursKategorija}}</a>
        </header>
        <!-- Preview image figure-->
        <figure class="mb-4"><img class="img-fluid rounded" src="{{obuka.imageUrl}}" alt="..."></figure>
        <!-- Post content-->
        <section class="mb-5">
            <div [innerHTML]="obuka.opis"></div>
        </section>
        <table class="table mt-5">
          <thead>
            <tr>
              <th>Cijena</th>
              <th>Trajanje</th>
              <th>Početak</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td *ngIf="obuka.cijena !== 0">{{obuka.cijena}} KM</td>
              <td *ngIf="obuka.cijena === 0">Besplatno</td>
              <td>{{obuka.trajanje}} sedmice</td>
              <td>{{obuka.datumPocetka | date}}</td>
            </tr>
          </tbody>
        </table>
        <button
                      *ngIf="obuka.aktivan"
                      type="button"
                      routerLink="/prijava-obuka/{{ obuka.id }}"
                      class="card-button mt-5"
                    >
                      Prijavi se
                    </button>
      </article>
      <div *ngIf="slicneObuke" class="content mt-5 pt-5">
        <h4 *ngIf="slicneObuke.length > 0" class="mt-5">Slični kursevi</h4>
          <div class="grid">
            <!--<figure *ngFor="let slicna of slicneVijesti" class="effect-bubba">
              <img src="{{slicna.imageUrl}}" alt="{{slicna.naslov}}"/>
              <figcaption>
                <h2>{{slicna.naslov}}</h2>
                <p>{{slicna.podnaslov}}</p>
              </figcaption>
            </figure>-->
            <figure *ngIf="slicneObuke[0]" class="effect-bubba">
              <img class="slika" src="{{slicneObuke[0].imageUrl}}" alt="{{slicneObuke[0].naziv}}"/>
              <figcaption>
                <h2>{{slicneObuke[0].naziv}}</h2>
                <p>{{slicneObuke[0].objavio}}</p>
                <a href="#">Opširnije</a>
              </figcaption>
            </figure>
            <figure *ngIf="slicneObuke[1]" class="effect-bubba">
              <img class="slika" src="{{slicneObuke[1].imageUrl}}" alt="{{slicneObuke[1].naziv}}"/>
              <figcaption>
                <h2>{{slicneObuke[1].naziv}}</h2>
                <p>{{slicneObuke[1].objavio}}</p>
                <a href="#">Opširnije</a>
              </figcaption>
            </figure>
        </div>
      </div>
    </div>
    <div class="col-lg-3 offset-lg-1 col-sm-12">
      <div>
        <div
          class="
            fh5co_heading fh5co_heading_border_bottom
            pt-3
            py-2
            mb-4
          "
        >
          Posljednje obuke
        </div>
      </div>
      <div *ngFor="let posljednje of posljednjeObuke" class="row pb-3">
        <div class="col-5 align-self-center">
          <a href="javascript:void(0)" routerLink="/obuke/{{posljednje.id}}">
          <img
            src="{{posljednje.imageUrl}}"
            alt="img"
            class="fh5co_most_trading"
          />
        </a>
        </div>
        <div class="col-7">
          <a href="javascript:void(0)" routerLink="/obuke/{{posljednje.id}}">
            <div class="most_fh5co_treding_font">{{posljednje.naziv}}</div>
          </a>
          <div class="most_fh5co_treding_font_123">{{posljednje.datumPocetka | date}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
