<div class="vg-page">
  <div class="vg-maps" >
    <div class="images_container">
  <img class="front"src="../../assets/img/telephone.png" style="width: 15%;"/>
  <img class="side1"src="/assets/img/mail1.png" style="width: 15%;">
  <img class="side2"src="/assets/img/twitter.png" style="width: 15%;">
  <img class="back" src="../..//assets/img/Phone.jpg"  />
  <img class="side" src="/assets/img/facebook.png" style="width: 20%;"/>
  <img class="front1" src="/assets/img/linkedin.png" style="width: 12%;"  />
  <img class="front2" src="/assets/img/instagram.png" style="width: 12%;"  />
  </div>
     <div id="google-maps" style="width: 100%; height: 100%;"></div>
   </div>
</div>


