<div class="main-banner" id="top">
  <div autoplay muted loop id="bg-video">
      <img src="../../assets/img/fejkuna.jpg" style="background-size: cover; width: 100%;" />
  </div>

  <div class="video-overlay header-text">
   
      <div class="caption">
          <div class="logo">
            <img src="/assets/img/logo-bijeli.gif" style="width: 25%;">
          </div>

          <h6>Unsko - sanski kanton</h6>
          <h2><em>MREŽA</em> OBRAZOVANJA</h2>

          <div class="box">
            <span></span>
            <span></span>
            <span></span>
            </div>
      </div>
  </div>
</div>
<app-section-header></app-section-header>
<app-section-kursevi></app-section-kursevi>
<app-section-news></app-section-news>
<app-section-svevijesti></app-section-svevijesti>
<app-kursevi></app-kursevi>
<app-aboutus></app-aboutus>
<app-header></app-header>
<app-contact-us></app-contact-us>
