<section class="page-section bg-light" id="team">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">Partneri</h2>
          <h3 class="section-subheading text-muted">Snaga je u <em>partnerstvu</em></h3>
      </div>
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-lg-4">
                  <div class="team-member">
                      <img class="mx-auto rounded-circle" src="assets/img/senad.png" alt="..." />
                      <h4>Senad Hair Academy Sarajevo</h4>
                      <br>
                    
                      
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="team-member">
                      <img class="mx-auto rounded-circle" src="assets/img/geodetska.png" alt="..." />
                      <h4>JU Srednja građevinsko-geodetska škola Sarajevo</h4>
                      
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="team-member">
                      <img class="mx-auto rounded-circle" src="assets/img/IUS.png" alt="..." />
                      <h4>Internacionalni univerzitet u Sarajevu – IUS</h4>
                     
                  </div>
              </div>
          </div>
          </div>
          <div class="carousel-item" >
            <div class="row">
              <div class="col-lg-4">
                  <div class="team-member">
                      <img class="mx-auto rounded-circle" src="assets/img/SKOLA-logo.png" alt="..." />
                      <h4>JU Srednja škola za okoliš i drvni dizajn, Sarajevo</h4>
                      <br>
                      
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="team-member">
                      <img class="mx-auto rounded-circle" src="assets/img/nahla1.png" alt="..." />
                      <h4>Centar za edukaciju i istraživanje „Nahla“</h4>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="team-member">
                      <img class="mx-auto rounded-circle" src="assets/img/bkc-logo.png" alt="..." />
                      <h4>JU ''Bosanski kulturni centar Kantona Sarajevo''</h4>                     
                  </div>
              </div>
          </div>
          </div>
          <div class="carousel-item" >
            <div class="row">
              <div class="col-lg-4">
                  <div class="team-member">
                      <img class="mx-auto rounded-circle" src="assets/img/R.png" alt="..." />
                      <h4>JU Služba za zapošljavanje Kantona Sarajevo</h4>
                      <br>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="team-member">
                      <img class="mx-auto rounded-circle" src="assets/img/SERDA.png" alt="..." />
                      <h4>Sarajevska reginalna razvojna agencija</h4>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="team-member">
                      <img class="mx-auto rounded-circle" src="assets/img/dizart.jfif" alt="..." />
                      <h4>Centar za edukaciju “DIZART” Sarajevo</h4>
                  </div>
              </div>
          </div>
          </div>

        <div class="carousel-item" >
          <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/azur1.jpg" alt="..." />
                    <h4>Asocijacija za upravljanje rizicima AZUR – Centar za edukaciju i treninge </h4>
                    <br>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/KOMORA.jpg" alt="..." />
                    <h4>Privredna komora Kantona Sarajevo</h4>
                    <br>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/scha.jpg" alt="..." />
                    <h4>JU Srednjoškolski centar Hadžići</h4>
                    <br>
                    
                </div>
            </div>
        </div>
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


  </div>
</section>

