<div class="partneri">
  <td>
  <div *ngFor="let partner of partneri;let i = index" class="mx-5">
    
    <div class="partneri1" style="width: 600px; height: 550px; margin-top: 30%; margin-bottom: 10%; padding: 10% 5%; border-radius: 2%;"> 
      <div class="slikapartner"><img class="mx-auto rounded-circle" src="{{partner.imageUrl}}" alt=""></div>
      <h5 class="card-title">{{partner.ime}}</h5>
      <p class="card-text">{{partner.opis}}</p>
      <a routerLink="/partner/{{partner.mail}}" class="btn btn-primary">Saznaj više</a>     
    </div>   
    
  </div>
</td>
</div>

 
