<div class="container pt-5 mt-5">
  <div class="card p-3">
      <h1 class="card-title mb-5">Ponovno postavljanje lozinke za korisnika</h1>

      <div *ngIf="showError" class="alert alert-danger" role="alert">
          <span [innerHTML]="errorMessage"></span>
      </div>

      <div *ngIf="showSuccess" class="alert alert-success" role="alert">
          Lozinka je uspješno promijenjena.
      </div>

      <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate (ngSubmit)="resetPassword(resetPasswordForm.value)">
          <div class="form-group row mb-3">
              <label for="newpassword" class="col-form-label col-sm-2">Nova lozinka:</label>
              <div class="col-md-5">
                  <input type="password" id="newpassword" formControlName="newpassword" class="form-control" />
              </div>
              <div class="col-md-5">
                  <em *ngIf="validateControl('newpassword') && hasError('newpassword', 'required')" class="text-danger">Lozinka je obavezna!</em>
              </div>
          </div>
          <div class="form-group row">
              <label for="confirm" class="col-form-label col-sm-2">Potvrdi novu lozinku:</label>
              <div class="col-md-5">
                  <input type="password" id="confirm" formControlName="confirm" class="form-control" />
              </div>
              <div class="col-md-5">
                  <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')" class="text-danger">Potvrda je obavezna!</em>
                  <em *ngIf="hasError('confirm', 'mustMatch')" class="text-danger">Lozinka se mora podudarati!</em>
              </div>
          </div>
          <br>
          <div class="form-group row">
              <div class="col-md-1">
                  <button type="submit" class="btn btn-primary" [disabled]="!resetPasswordForm.valid">Spremi</button>
              </div>
          </div>
      </form>
  </div>
</div>
