
<div class="vg-footer">
    
      <div class="row">
        <div class="col-lg-3 py-3">
          <div class="footer-info">
            <img src="/assets/img/image1.gif" style="width: 35%;">
            <p>MREŽA OBRAZOVANJA <br>KANTON SARAJEVO</p>

          </div>
          
        </div>
        <div class="col-lg-6 py-3"><p class="fs-large fg-white footer-text">Ova stranica je urađena u okviru projekta : "Jačanje mreže vladinih i nevladinih aktera u oblasti obrazovanja odraslih", koji finansira DVV International - Ured za BiH.</p>
        </div>
        <div class="col-lg-3 logoslike">
          <a href="https://www.dvv-international.ba/bs/dvv-international/dvv-international-ured-za-bih" target="blank"><img src="../../../assets/img/dvvlogo1.png" style="width: 31%; margin: 2%;"></a>
          <a href="https://www.bmz.de/de" target="blank"><img src="../../../assets/img/dvvlogo2.png" style="width: 36%;"></a>
        </div>


      </div>

      <div class="row justify-content-center">

        <div class="col-12">
          <p class="text-center mb-0 mt-2">Copyright &copy;2021. All right reserved | Stranica napravljena od strane <span class="ti-heart fg-theme-red"></span><a href="/">AITI - Naprednog instituta</a></p>
        </div>
      </div>
    
</div>

